html, body {
    height: 100%;
  }

.previa{
    width: 80px;
    border-radius: 100%;
    color: aliceblue; !important;
}

.main-cont{
    background-image: url(../images/backimg2.jpg);
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-position: center;
}

 .logo{
    vertical-align: middle;
    border-style: none;
    color: aliceblue;
    
} 
a{
    padding-left: 10%;
    color: aliceblue; !important;
    
}

.text1 {
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

