html, body {
    height: 100%;
  }

.previa{
    margin-top: 10%;
    width: 450px;
    height: 200px;
    border: 10px solid #fff;
    
    
}
iframe{
    margin-left:15%;
}

.main-cont{
    background-image: url(../images/backimg2.jpg);
    
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-position: center;
}

 .logo{
    vertical-align: middle;
    border-style: none;
    color: aliceblue;
    
} 
a{
    
    color: aliceblue; !important;
    
}

.text1 {
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

